*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    
}

.Header{
    background-color:#ebe7e7;
    display: flex;
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
}
.Phone{
    margin-left:27px;
    font-size: 20px;

}

.Email{
    margin-left:-370px;
    font-size: 20px;

}
.PE{
    color:#F68B1F;
    font-size: 30px;
    font-weight: 700;
}

.Social a{
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(41, 41, 40);
}
.Social a:hover{
    color:#F68B1F ;
}

.Navbar{
    height: 80px;   
    margin-right: 5px;
    margin-left: 5px;
    background-color:#F7F7F7;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.image img{
    width: 100px;
    height: 80px;
    
}
.Asadur h1{
    margin-left: -405px;
    margin-top: 25px;
    font-size: 50px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 10px 10px  solid tomato;
    color: #F68B1F;
    letter-spacing: -3px;
    
}

.content ul li{
    display: inline;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    
    
}

.content ul li a{
    color: black;
    text-decoration: none;

}

.content ul li:hover{
    cursor: pointer;
    background-color:#F68B1F;
    text-decoration: underline;
    
}

